// SPDX-License-Identifier: AGPL-3.0-or-later

.info-page {
  code {
    font-family: monospace;
    .rounded-corners-tiny;
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    padding: 0.2rem;
    border: 0 none;
  }
}
